.intro {
  background: url(../../img/inner-bg.jpg) center center/cover no-repeat;
  width: 100vw;
  height: 81.5972vmax;
  margin: rem(-138) 0 0;
  text-align: center;
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: rem(750);
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    @include adaptiveValue('font-size', 60, 24);
    font-weight: 700;
    line-height: calc(70 / 60);
    color: #fff;
  }

  &__subtitle {
    @include adaptiveValue('font-size', 20, 14);
    line-height: calc(32 / 20);
    color: $secondColor;
    font-size: rem(18);
    line-height: rem(25);
    color: $secondColor;
    @include adaptiveValue('margin-top', 28, 15);
    @include adaptiveValue('margin-bottom', 48, 25);
  }

  &__input {
    background: rgba(222, 222, 222, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 45px;
    padding: rem(20) 0 rem(20) rem(25);
    max-width: rem(493);
    width: 90%;
    background: url(../../img/icons/search-line.svg) center right 8px / auto
      no-repeat;
  }

  @media (max-width: $mobile) {
    height: 120vmax;
  }
}
