.collection {
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  &__text {
    max-width: rem(755);
  }
}

.descr {
  &__text {
    max-width: rem(755);
  }
}
