//====================================================================================================

//====================================================================================================

//Burger

.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    z-index: 5;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #fff;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
        content: '';
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}

//Bugerr-end

.header {
  position: relative;
  z-index: 5;
  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiveValue('padding-top', 53, 30);
    @include adaptiveValue('padding-bottom', 53, 30);
  }
  &__logo {
    font-weight: 700;
    font-size: rem(24);
    line-height: calc(33 / 24);
    color: #fff;
    span {
      color: $accentColor;
      transition: all 0.3s linear;
      .menu-open & {
        color: $mainColor;
      }
    }
    .menu-open & {
      z-index: 5;
    }
  }
  &__basket {
    position: relative;
    cursor: pointer;
    &:after {
      content: '';
      display: block;
      width: em(16);
      height: em(16);
      background-color: $accentColor;
      border-radius: 50%;
      border: 2px solid #fff;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
